* {
  margin: 0;
  padding: 0;
}

header .Main {
  backdrop-filter: brightness(0.28);
  /* background-color: rgba(0, 0, 0, 0.671); */
  padding-bottom: 0;
}

body header {
  background-image: url(./assets/Netflix_img1.jpg);
  font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
header nav {
  padding: 1vh 10vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
}

header .logo_name {
  height: 35px;
  padding: 7px;
}

header nav .right select {
  padding: 6px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid rgb(117, 112, 112);
  background-color: transparent;
  color: white;
}

header nav .right select option {
  background-color: white;
  color: black;
}

header nav .right button {
  background-color: rgb(229, 9, 20);
  padding: 6px;
  border-radius: 4px;
  color: white;
  font-size: 17px;
  border: none;
}

nav .right button:hover {
  background-color: rgb(182, 13, 22);
}

header .intro_main {
  padding: 10px;
  padding-top: 110px;
  padding-bottom: 120px;
}

header .intro {
  padding: 0 25%;
  padding-bottom: 33px;
  color: white;
  margin: 0 2vw;
}

header .intro h1 {
  padding-bottom: 6px;
  display: flex;
  flex-wrap: wrap;
  word-wrap: break-word;
  justify-content: center;
  text-align: center;
  font-size: 8vh;
  font-weight: 800;
  font-stretch: narrower;
}

header .intro h3 {
  padding-bottom: 25px;
  font-size: 3vh;
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  word-wrap: break-word;
  justify-content: center;
  text-align: center;
}

header .intro p {
  padding-bottom: 6px;
  font-size: 3vh;
  display: flex;
  flex-wrap: wrap;
  word-wrap: break-word;
  justify-content: center;
  text-align: center;
}

header .intro .emal_signUP {
  padding: 2px;
  font-size: 2.5vh;
  display: flex;
  justify-items: center;
  justify-content: center;
}

header .intro .emal_signUP input {
  /* backdrop-filter: blur(6px); */
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  width: 500px;
  margin: 2px;
  border-radius: 4px;
  font-size: large;
  padding: 15px;
  border: 1px solid rgb(117, 112, 112);
}

.emal_signUP input {
  background-color: red;
}

header .intro .emal_signUP button {
  font-size: x-large;
  border: none;
  margin: 2px;
  width: 300px;
  padding: 10px;
  border-radius: 4px;
  font-weight: bolder;
  color: white;
  background-color: rgb(229, 9, 20);
}

.intro .emal_signUP button:hover {
  background-color: rgb(182, 13, 22);
}

.curve {
  height: 20vh;
  background-image: linear-gradient(to right, rgb(218, 96, 116), red, rgb(218, 96, 116));
  background-color: red;
  border-top-left-radius: 70% 100%;
  border-top-right-radius: 70% 100%;
  padding-top: 0.7vh;
}

.curve .blank {
  border-top-left-radius: 75% 100%;
  border-top-right-radius: 75% 100%;
  background-image: linear-gradient(rgb(31, 31, 70), black);
  height: 21vh;
}



/* MAIN */
main {
  background-color: black;
  color: white;
  padding: 0 12vw 5vw 12vw;
  font-family: Arial, Helvetica, sans-serif;
}

main .trending {
  padding: 20px 0;
}

main .card_scroll {
  display: flex;
  /* overflow-x: scroll; */
  overflow: hidden;
  gap: 35px;
  height:160px;
}

main .trending img {
  width: 30vh;
  border-radius: 7px;
}

.card_scroll .S_card img:hover {
  width: 31vh;
}

main h2 {
  padding: 15px 0;
}

main .card_container {
  padding: 20px 0;
  display: grid;
  grid-column-gap: 15px;
  grid-template-columns: repeat(4, 1fr);
}

main .card {
  /* background-image: linear-gradient(rgb(23, 23, 60),rgb(36, 18, 18)); */
  background-image: linear-gradient(rgb(23, 23, 60), rgb(33, 20, 20));
  border: none;
  height: 50vh;
  border-radius: 20px;
  padding: 15px;
}

main .card p {
  color: rgb(158, 154, 154);
}



/* FOOTER */
footer {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding: 0 12vw;
  background-color: black;
}

footer .footer_top {
  padding: 20px 0;
}

.footer_top h2 {
  padding: 20px 0;
}

.footer_top .ques {
  background-color: rgb(51, 49, 49);
  margin-bottom: 8px;
  padding: 30px;
  font-size: x-large;
}

.footer_top .ques:hover {
  background-color: rgb(63, 62, 62);
}

footer h3 {
  display: flex;
  flex-wrap: wrap;
  word-wrap: break-word;
  padding: 25px 0;
  font-size: medium;
  justify-content: center;
  font-weight: 200;
}

footer form {
  display: flex;
  justify-content: center;
}

footer form input {
  color: white;
  width: 45vw;
  margin: 0 2px;
  border-radius: 4px;
  font-size: large;
  padding: 15px;
  background-color: transparent;
  border: 1px solid rgb(110, 109, 109);
}

footer form button {
  margin: 0 2px;
  width: 15vw;
  background-color: rgb(229, 9, 20);
  border: none;
  border-radius: 4px;
  font-size: large;
  font-weight: bolder;
  color: white;
}

footer form button:hover {
  background-color: rgb(182, 13, 22);
}

footer .footer_bottom {
  font-size: medium;
  color: rgb(181, 177, 177);
  /* color: rgb(150, 148, 148); */
  font-weight: lighter;
  padding-bottom: 10vh;
  padding-top: 8vh;
}

footer .footer_bottom p {
  margin: 20px 0;
}

footer .footer_bottom select {
  margin: 20px 0;
  padding: 6px;
  color: white;
  border-radius: 4px;
  background-color: rgb(33, 32, 32);
}

.container a {
  /* text-decoration: none; */
  color: grey;
}

footer .footer_bottom ul {
  color: white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

footer .footer_bottom ul li {
  margin-bottom: 10px;
  list-style: none;
}


/* MEDIA QUERY */
@media screen and (max-width: 1257px) {

  header .intro {
    padding: 2% 12%;

  }

  header .intro h1 {
    font-size: 7vh;
  }

  main {
    padding: 0 8.5vw;
  }

  .trending img {
    width: 25vh;
  }

  .trending img:hover {
    width: 26vh;
  }

  main .card_container {
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
  }

  main .card {
    background-image: linear-gradient(to right, rgb(23, 23, 60), rgb(33, 20, 20));
    /* background-image: linear-gradient(to right,rgb(23, 23, 60),rgb(36, 18, 18)); */
    border: none;
    height: 30vh;
    border-radius: 20px;
    padding: 5px 25px;
  }

  footer {
    padding: 0 8.5vw;
  }
}

@media screen and (max-width:960px) {

  main .card_container {
    grid-template-columns: repeat(1, 1fr);
  }

  main .card_container .card {
    height: 30vh;
    padding: 0 15px;
  }

  main .card h2 {
    padding-bottom: 8px;
  }
}

@media screen and (max-width: 725px) {

  header nav {
    padding: 0 8vw;
  }

  header .intro h1 {
    font-size: 5vh;
  }

  header .intro h3 {
    font-size: 2.5vh;
  }

  header .intro p {
    font-size: 2.5vh;
  }

  header .intro .emal_signUP input {
    font-size: medium;
  }

  header .intro .emal_signUP button {
    font-size: medium;
  }

  main {
    padding: 0 6vw;
  }

  main .trending {
    padding: 18px 0;
  }

  main .card h2 {
    padding-bottom: 8px;
  }

  main .card {
    border-radius: 15px;
    padding: 5px 20px;
    font-size: 16px;
  }

  footer {
    padding: 0 6vw;
  }

  .footer_top h2 {
    font-size: large;
  }

  .footer_top .ques {
    font-size: large;
  }

  footer form input {
    width: 70%;
    padding: 10px;
  }

  footer form button {
    width: 30%;
    padding: 10px;
  }

  .footer_bottom {
    font-size: small;
  }

  footer .footer_bottom ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 593px) {
  header nav {
    padding: 0 2vw;
  }

  header .intro {
    padding: 0px 4%;
  }

  header .intro h1 {
    font-size: 3.5vh;
  }

  header .intro .emal_signUP {
    display: grid;
    justify-content: center;
    padding: 0 5px;

  }

  header .intro .emal_signUP input {
    width: 83vw;
    padding: 10px;
    margin-bottom: 15px;
  }

  header .intro .emal_signUP button {
    width: 200px;
    padding: 10px;
  }

  .curve {
    border-top-left-radius: 150% 100%;
    border-top-right-radius: 150% 100%;
  }

  .curve .blank {
    border-top-left-radius: 170% 100%;
    border-top-right-radius: 170% 100%;
  }

  main {
    padding: 0 5vw;
  }

  main .card p {
    font-weight: normal;
  }

  footer {
    padding: 0 5vw;
  }

  .footer_top .ques {
    padding: 25px;
  }

  footer form {
    display: block;
    justify-content: flex-start;
  }

  footer form input {
    margin-bottom: 15px;
    font-size: 2vh;
    padding: 12px;
    width: 83vw;
  }

  footer form button {
    width: fit-content;
    font-style: 2vh;
    padding: 12px;
  }

  footer .footer_bottom ul {
    grid-template-columns: repeat(1, 1fr);
  }
}
